<ion-view view-title="Listado SOS" class="BGNat">
	<ion-content>
		<div ng-repeat="info in info" >
			<div class="card  slidein">


			  			  <div> 
			  	<ng-map center="[{{info.lat}},{{info.lon}}]" zoom="13" default-style="false" disable-default-u-i="true" >  
					<custom-marker position="[{{info.lat}},{{info.lon}}]">

					 	<div>
					 		<img src="img/{{info.tipo}}.png" height="42" width="42">
					 	</div>
					</custom-marker>

				</ng-map> 
				<div>
			  	 	<div class="fecha usuario"> 
					  	Fecha:  {{info.date}}	<br>
					</div>
					<div style="float:right;margin-top: 9px;line-height: 27px; margin-right: 15px;">
					  	Usuario: {{info.usuName}}
				  	</div>
			  	</div>
			  </div>
			</div>
		</div>
	</ion-content>
</ion-view>