<ion-view>
  <ion-header-bar>
    <h1 class="title">Logear</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="Loguear()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.usuario">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Logear</button>
        </label>
      </div>
    </form>
    <button id="login-button4" style="font-weight:600;" class="button button-balanced  button-block button-clear" onclick="location.href='#/registro'">¿No tenes cuenta? Registrate</button>

  </ion-content>
</ion-view>
