<ion-view>
  <ion-header-bar>
    <h1 class="title">Logear</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="loguear()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.user">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="loginData.contra">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Logear</button>
        </label>
      </div>
    </form>
    
    <button class="button button-block button-positive" ng-click="logearGithub()">Logear con github</button>
    <br> <br>
    <button id="login-button4" style="font-weight:600;" class="button button-balanced  button-block button-clear" onclick="location.href='#/registro'">¿No tenes cuenta? Registrate</button>

  </ion-content>
</ion-view>
