<ion-view>
  <ion-header-bar class="BGgreen700">
    <h1 class="title BGgreen700">Logear</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content >
    <form ng-submit="Loguear()" >
      <div class="list" >
        <label class="item item-input letra" >
          <span class="input-label letra">Email</span>
          <input type="text" ng-model="loginData.email" class="letra"">
        </label>
        <label class="item item-input letra" >
          <span class="input-label letra">Password</span>
          <input type="password" ng-model="loginData.password" class="letra">
        </label>
        <label class="item" >
          <button class="button button-block button-balanced" type="submit">Logear</button>
        </label>
      </div>
    </form>
    <button id="login-button4" style="font-weight:600;" class="button button-block button-positive button-clear" onclick="location.href='#/registro'">¿No tenes cuenta? Registrate</button>

  </ion-content>
</ion-view>
