<ion-view>
  <ion-header-bar class="BGgreen700">
    <h1 class="title" style="color: white;">Registrarse</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="Registrar()" >
      <div class="list" >
        <label class="item item-input" >
          <span class="input-label letra" style="color: #ffffff">Nombre</span>
          <input type="text" ng-model="regData.nombre" class="letra">
        </label>
        <label class="item item-input">
          <span class="input-label letra" style="color: #ffffff">Email</span>
          <input type="text" ng-model="regData.email" class="letra">
        </label>
        <label class="item item-input">
          <span class="input-label letra" style="color: #ffffff">Password</span>
          <input type="password" ng-model="regData.password1" class="letra">
        </label>
        <label class="item item-input">
          <span class="input-label letra">Repetir password</span>
          <input type="password" ng-model="regData.password2" class="letra">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Registrarse</button>
        </label>
      </div>
    </form>
    <button id="login-button4" style="font-weight:600;" class="button button-positive  button-block button-clear" onclick="location.href='#/login'">¿Ya tenes cuenta? Logueate</button>
  </ion-content>
</ion-view>
