<ion-view view-title="SOS">
  <ion-content>
    <h1>S.O.S.</h1>
 	<div style="width:40%">
	  <div class="list">
  		<label class="item item-input item-select">
	    <div class="input-label">
	      Tipo
	    </div>
	    <select>
	      <option>Black Olives</option>
	      <option selected>Bacon</option>
	      <option>Extra Cheese</option>
	      <option>Mushrooms</option>
	      <option>Pepperoni</option>
	      <option>Sausage</option>
	    </select>
	  </label>
	</div>
    <label class="item item-input">
	  <span class="input-label">Nombre</span>
	  <input type="tel">
	</label>
	 <label class="item item-input">
	  <span class="input-label">Apellido</span>
	  <input type="tel">
	</label>
	</div>
  </ion-content>
</ion-view>