<ion-view view-title="SOS">
	<ion-content>
		<h1>S.O.S.</h1>
		<div style="width:40%">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Tipo
					</div>
					<select>
						<option>Accidente</option>
						<option selected>Avería de Vehículo</option>
						<option>Animal Suelto </option>
						<option>Necesidad de Ambulancia</option>
					</select>
				</label>
			</div>
			<label class="item item-input">
				<span class="input-label">Nombre</span>
				<input type="tel">
			</label>
			<label class="item item-input">
				<span class="input-label">Apellido</span>
				<input type="tel">
			</label>
		</div>
	</ion-content>
</ion-view>