ng-map {
	display:block;
	width:100%; 
	height:100%;
}
.scroll, .mapWrap {
  height: 100%;
}
.pading{
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*@-webkit-keyframes slideIn {
  0% {
    left: 150%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(150%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}*/
@-webkit-keyframes slideIn {
  0% {
    top: 0;
  }
  100% {
    top: 150%;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(0, -150%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0,0);
  }
}

.slidein{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
}

.slideinMap{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
}



