<ion-view view-title="SOS">
<ion-floating-button  has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
</ion-floating-button>
	<ion-content>
		<form>
			<div>
				<div class="list slidein">
					<div class="pading">
							<button type="button"  class="button button-block button-positive " ng-click="showPopup(0)">
								Accidente
							</button>
					</div>
					
					<div class="pading">
						<button type="button"  class="button button-block button-positive " ng-click="showPopup(1)">
								Averia de Vehiculo
						</button>
					</div>
					<div class="pading">
						<button type="button"  class="button button-block button-positive " ng-click="showPopup(2)">
								Animal Suelto 
						</button>
					</div>
					<div class="pading">
						<button type="button"  class="button button-block button-positive " ng-click="showPopup(3)">
								Necesidad de Ambulancia
						</button>
					</div>
			</div>
			
		</form>
	</ion-content>
</ion-view>