ng-map {
	display:block;
	width:100%; 
	height:100%;
}
.scroll, .mapWrap {
  height: 100%;
}
.pading{
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.rate{
  float:right;
}

/*@-webkit-keyframes slideIn {
  0% {
    left: 150%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(150%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}*/
@-webkit-keyframes slideIn {
  0% {
    top: 0;
  }
  100% {
    top: 150%;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(0, -150%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0,0);
  }
}

.slidein{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
}

.slideinMap{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
.popup{
  width: 265px !important;
}

/*COLOR*/
.BGgreen{
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.BGNat{
  background-color: #ededed;
  
}

.BGgreen700{
  background-color: #689F38;
  border-color: #689F38;
  color: #ffffff;
}

.BGgreen300{
  background-color: #AED581;
  border-color: #AED581;
  color: #ffffff;
}


.background, .background .pane, .background {
    background-color: #8BC34A;
}
.bar.bar-stable {
    background-color: #689F38;
    color: #f4f4f4;
}
.bar.bar-stable .title {
    background-color: #689F38;
    border-color: #689F38;
    color: #ffffff;
}

.item{
  /*background-color: #9CCC65;*/
  /*border-color: #9CCC65;*/
 /* color: #ffffff;*/
  border-radius: 5px;
}
.item .item-content {
  background-color: transparent !important;
}
.letra{
  color: #ffffff!important; 
 /* text-shadow: 2px 0 0 #689F38, -2px 0 0 #689F38, 0 2px 0 #689F38, 0 -2px 0 #689F38, 1px 1px #689F38, -1px -1px 0 #689F38, 1px -1px 0 #689F38, -1px 1px 0 #689F38;*/
}
.login{
    margin: 40px;
    color:#000000;
}
.inputLogin{
  margin-bottom: 10px;
  color:#000000 !important;
}
.btnLogin{
  color:#000000;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}
.fecha{
  float:left;
}



